<h1 align="center">Pandas Homework - PyCitySchools</h1>

<text align="left">Created by: Luz del Carmen VÃ¡zquez Galindo </text>
<br>
<text align="left">10/10/2020</text>

<h2>District Summary</h2>

Create a high level snapshot (in table form) of the district's key metrics, including:

<UL>
<LI>Total Schools
<LI>Total Students
<LI>Total Budget
<LI>Average Math Score
<LI>Average Reading Score
<LI>% Passing Math (The percentage of students that passed math.)
<LI>% Passing Reading (The percentage of students that passed reading.)
<LI>% Overall Passing (The percentage of students that passed math and reading.)
</UL>

In [3]:
import pandas as pd

In [4]:
#Create DataFrame by reading CSV file
schools_df = pd.read_csv("Resources/schools_complete.csv")
students_df = pd.read_csv("Resources/students_complete.csv")

schools_df.head(5)

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
students_df.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
#Merging both school and student tables and assigning it to a new DataFrame
district_df=schools_df.merge(students_df, how="left", on="school_name")
district_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [7]:
#Creating variables for each District Summary value

#Total Schools
total_schools = len(pd.unique(district_df["school_name"]))
total_schools

15

In [8]:
#Total Students
total_students = len(pd.unique(district_df["Student ID"]))
total_students

39170

In [9]:
#Total Budget
budget = district_df.groupby("school_name")["budget"].unique()
total_bud = 0
for x in budget:
   total_bud = x + total_bud
total_budget = total_bud[0]
total_budget

24649428

In [10]:
#Average Math Score
avg_math_score = district_df["math_score"].mean()
avg_math_score

78.98537145774827

In [11]:
#Average Reading Score
avg_read_score = district_df["reading_score"].mean()
avg_read_score

81.87784018381414

In [12]:
#% Passing Math (The percentage of students that passed math.)
pass_math=(district_df.loc[district_df['math_score'] >= 70].shape[0]/total_students)*100
pass_math

74.9808526933878

In [13]:
#% Passing Reading (The percentage of students that passed reading.)
pass_read=(district_df.loc[district_df['reading_score'] >= 70].shape[0]/total_students)*100
pass_read

85.80546336482001

In [14]:
#% Overall Passing (The percentage of students that passed math and reading.)
pass_overall=(district_df.loc[(district_df['math_score'] >= 70) & (district_df['reading_score'] >= 70) ].shape[0]/total_students)*100
pass_overall

65.17232575950983

In [15]:
#Creating new Data Frame with results
data ={
    "Total Schools":[total_schools], 
    "Total Students":[total_students], 
    "Total Budget":[total_budget], 
    "Average Math Score": [avg_math_score], 
    "Average Reading Score": [avg_read_score], 
    "% Passing Math": [pass_math],
    "% Passing Reading": [pass_read], 
    "% Overall Passing": [pass_overall]
}

district_summary_df = pd.DataFrame(data=data)
format_dict = {'Total Students':'{0:,.0}', 'Total Budget': '${0:,.0f}'}

district_summary_df.style.format(format_dict)

district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

<h2>School Summary</h2>

<ul>
    <li>Create an overview table that summarizes key metrics about each school, including:</li>
    <ul>
<li>School Name</li>
<li>School Type</li>
<li>Total Students</li>
<li>Total School Budget</li>
<li>Per Student Budget</li>
<li>Average Math Score</li>
<li>Average Reading Score</li>
<li>% Passing Math</li>
<li>% Passing Reading</li>
<li>% Overall Passing (The percentage of students that passed math and reading.)</li>
    </ul>
    <li>Create a dataframe to hold the above results</li>
 </ul>

In [16]:
district_df.head(5)

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [17]:
school_sum=district_df.groupby(["school_name"],as_index=True)
school_sum

In [18]:
school_type = school_sum["type"].unique()
school_type

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [68]:
school_students = school_sum["Student ID"].count()
school_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [30]:
#School Budget
school_budget =school_sum["budget"].unique()
school_budget
#Budget per student will be calculated using School Budget

school_name
Bailey High School       [3124928]
Cabrera High School      [1081356]
Figueroa High School     [1884411]
Ford High School         [1763916]
Griffin High School       [917500]
Hernandez High School    [3022020]
Holden High School        [248087]
Huang High School        [1910635]
Johnson High School      [3094650]
Pena High School          [585858]
Rodriguez High School    [2547363]
Shelton High School      [1056600]
Thomas High School       [1043130]
Wilson High School       [1319574]
Wright High School       [1049400]
Name: budget, dtype: object

In [28]:
#Average Math score
school_math_avg = school_sum["math_score"].mean()
school_math_avg

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [29]:
#Average Reading score
school_read_avg = school_sum["reading_score"].mean()
school_read_avg

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [73]:
#%Passing Math

school_pass_math={}
school_math_it = school_sum["math_score"]

for x in school_math_it: 
    school_pass=0
    
    for y in x[1]:
            if(y>=70):
                school_pass = school_pass+1
    school_pass_math[x[0]]=school_pass
        
school_pass_math

{'Bailey High School': 3318,
 'Cabrera High School': 1749,
 'Figueroa High School': 1946,
 'Ford High School': 1871,
 'Griffin High School': 1371,
 'Hernandez High School': 3094,
 'Holden High School': 395,
 'Huang High School': 1916,
 'Johnson High School': 3145,
 'Pena High School': 910,
 'Rodriguez High School': 2654,
 'Shelton High School': 1653,
 'Thomas High School': 1525,
 'Wilson High School': 2143,
 'Wright High School': 1680}

In [74]:
#%Passing Reading

school_pass_read={}
school_read_it = school_sum["reading_score"]

for x in school_read_it: 
    school_pass=0
    
    for y in x[1]:
            if(y>=70):
                school_pass = school_pass+1
    school_pass_read[x[0]]=school_pass
        
school_pass_read

{'Bailey High School': 4077,
 'Cabrera High School': 1803,
 'Figueroa High School': 2381,
 'Ford High School': 2172,
 'Griffin High School': 1426,
 'Hernandez High School': 3748,
 'Holden High School': 411,
 'Huang High School': 2372,
 'Johnson High School': 3867,
 'Pena High School': 923,
 'Rodriguez High School': 3208,
 'Shelton High School': 1688,
 'Thomas High School': 1591,
 'Wilson High School': 2204,
 'Wright High School': 1739}

In [76]:
#%Overall Passing
school_sum.groups
#school_sum_df=school_sum.get_group("Bailey High School")
#school_sum

{'Bailey High School': Int64Index([17871, 17872, 17873, 17874, 17875, 17876, 17877, 17878, 17879,
             17880,
             ...
             22837, 22838, 22839, 22840, 22841, 22842, 22843, 22844, 22845,
             22846],
            dtype='int64', length=4976),
 'Cabrera High School': Int64Index([16013, 16014, 16015, 16016, 16017, 16018, 16019, 16020, 16021,
             16022,
             ...
             17861, 17862, 17863, 17864, 17865, 17866, 17867, 17868, 17869,
             17870],
            dtype='int64', length=1858),
 'Figueroa High School': Int64Index([2917, 2918, 2919, 2920, 2921, 2922, 2923, 2924, 2925, 2926,
             ...
             5856, 5857, 5858, 5859, 5860, 5861, 5862, 5863, 5864, 5865],
            dtype='int64', length=2949),
 'Ford High School': Int64Index([34796, 34797, 34798, 34799, 34800, 34801, 34802, 34803, 34804,
             34805,
             ...
             37525, 37526, 37527, 37528, 37529, 37530, 37531, 37532, 37533,
             37534],
            dtype='int64', length=2739),
 'Griffin High School': Int64Index([12262, 12263, 12264, 12265, 12266, 12267, 12268, 12269, 12270,
             12271,
             ...
             13720, 13721, 13722, 13723, 13724, 13725, 13726, 13727, 13728,
             13729],
            dtype='int64', length=1468),
 'Hernandez High School': Int64Index([ 7627,  7628,  7629,  7630,  7631,  7632,  7633,  7634,  7635,
              7636,
             ...
             12252, 12253, 12254, 12255, 12256, 12257, 12258, 12259, 12260,
             12261],
            dtype='int64', length=4635),
 'Holden High School': Int64Index([22847, 22848, 22849, 22850, 22851, 22852, 22853, 22854, 22855,
             22856,
             ...
             23264, 23265, 23266, 23267, 23268, 23269, 23270, 23271, 23272,
             23273],
            dtype='int64', length=427),
 'Huang High School': Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
             ...
             2907, 2908, 2909, 2910, 2911, 2912, 2913, 2914, 2915, 2916],
            dtype='int64', length=2917),
 'Johnson High School': Int64Index([30035, 30036, 30037, 30038, 30039, 30040, 30041, 30042, 30043,
             30044,
             ...
             34786, 34787, 34788, 34789, 34790, 34791, 34792, 34793, 34794,
             34795],
            dtype='int64', length=4761),
 'Pena High School': Int64Index([23274, 23275, 23276, 23277, 23278, 23279, 23280, 23281, 23282,
             23283,
             ...
             24226, 24227, 24228, 24229, 24230, 24231, 24232, 24233, 24234,
             24235],
            dtype='int64', length=962),
 'Rodriguez High School': Int64Index([26036, 26037, 26038, 26039, 26040, 26041, 26042, 26043, 26044,
             26045,
             ...
             30025, 30026, 30027, 30028, 30029, 30030, 30031, 30032, 30033,
             30034],
            dtype='int64', length=3999),
 'Shelton High School': Int64Index([5866, 5867, 5868, 5869, 5870, 5871, 5872, 5873, 5874, 5875,
             ...
             7617, 7618, 7619, 7620, 7621, 7622, 7623, 7624, 7625, 7626],
            dtype='int64', length=1761),
 'Thomas High School': Int64Index([37535, 37536, 37537, 37538, 37539, 37540, 37541, 37542, 37543,
             37544,
             ...
             39160, 39161, 39162, 39163, 39164, 39165, 39166, 39167, 39168,
             39169],
            dtype='int64', length=1635),
 'Wilson High School': Int64Index([13730, 13731, 13732, 13733, 13734, 13735, 13736, 13737, 13738,
             13739,
             ...
             16003, 16004, 16005, 16006, 16007, 16008, 16009, 16010, 16011,
             16012],
            dtype='int64', length=2283),
 'Wright High School': Int64Index([24236, 24237, 24238, 24239, 24240, 24241, 24242, 24243, 24244,
             24245,
             ...
             26026, 26027, 26028, 26029, 26030, 26031, 26032, 26033, 26034,
             26035],
            dtype='int64', length=1800)}

In [ ]:
school_summary = pd.DataFrame({
    "School Type":[],
    "Total Students":[],
    "Total School Budget":[],
    "Per Student Budget":[],
    "Average Math Score":[],
    "Average Reading Score":[],
    "%Passing Math":[],
    "%Passing Reading":[],
    "%Overall Passing"[]:
    
})